* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --dark-gunmetal: #212529;
  --platinum: #dee2e6;
}
.container {
  padding: 0 100px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
header {
  width: 100%;
  padding: 10px 0;
  position: sticky;
  top: 0;
  background-color: var(--dark-gunmetal);
}
header .container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
header .container .logo a {
  font-size: 43px;
  font-weight: bold;
  color: var(--white);
}
header .container .nav input {
  appearance: none;
}
@media (max-width: 991px) {
  header.container .nav {
    position: relative;
  }
  header .container .nav label img {
    cursor: pointer;
    background-color: var(--white);
  }
  header .container .nav input {
    appearance: none;
  }
  header .container .nav input:checked + ul {
    display: block;
  }

  header.container .nav ul {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    min-width: 250px;
    background-color: var(--white);
    z-index: 10;
  }
  header .container .nav ul li a {
    display: block;
    padding: 10px;
    color: var(--black);
  }
  header .container .nav ul li:not(:last-child) {
    border-bottom: 1px solid rgb(0 0 0 / 0.1);
  }
}
@media (min-width: 992px) {
  header .container .nav label,
  header .container .nav input {
    display: none;
  }
  header .container .nav ul {
    display: flex;
  }
  header .container .nav ul li {
    padding: 10px;
  }
  header .container .nav ul li a {
    color: var(--white);
  }
}
.hero{
  background-color: var(--platinum);
  padding-top: 40px;
}
.hero .container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: start;
}
.hero .container .info{
  margin-top: 80px;
}
.hero .container .info h1{
  font-size: 64px;
  line-height: 1;
  color: var(--dark-gunmetal);
}
.hero .container .info p{
  font-size:34px;
  padding: 10px 0;
  color: rgba(26, 25, 25, 0.751);
}
.hero .container a{
  display: block;
  width: fit-content;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--dark-gunmetal);
  color: var(--white);
}